<div class="main">
  <div class="card mb-4 rounded-3 shadow-sm">
    <div class="card-header">
      <button
        type="button"
        class="w-25 btn btn-sm btn-primary me-2"
        (click)="handleAdd()"
      >
        add new Post
      </button>
    </div>
  </div>

  <app-item-create
    [style.display]="showFormCreate"
    (emitterNewPost)="add($event)"
  >
  </app-item-create>
  <app-item-display
    [style.display]="showFormAll"
    *ngFor="let post of posts"
    [paramPost]="post"
    (emitterPostToEdit)="handleEdit($event)"
    (emitterPostToRemove)="handleremove($event)"
  >
  </app-item-display>
  <app-item-edit
    [style.display]="showFormEdit"
    [editPost]="editPost"
    (emitterPostToSave)="update($event)"
  >
  </app-item-edit>
</div>
