<div class="register-form">
  <form [formGroup]="form" (ngSubmit)="add()">
    <div class="form-group">
      title
      <input
        type="text"
        formControlName="title"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['title'].errors }"
      />
      @if (submitted && f["title"].errors) {
        <div class="invalid-feedback">
          @if (f["title"].errors?.["required"]) {
            <div>title is required</div>
          }
        </div>
      }
    </div>
    <div class="form-group">
      body
      <input
        type="text"
        formControlName="body"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['body'].errors }"
      />
      @if (submitted && f["body"].errors) {
        <div class="invalid-feedback">
          @if (f["body"].errors?.["required"]) {
            <div>body is required</div>
          }
          @if (f["body"].errors?.["minlength"]) {
            <div>body must be at least 6 characters</div>
          }
          @if (f["body"].errors?.["maxlength"]) {
            <div>body must not exceed 20 characters</div>
          }
        </div>
      }
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Register</button>
      <button
        type="button"
        (click)="onReset()"
        class="btn btn-warning float-right"
      >
        Reset
      </button>
    </div>
  </form>
</div>
